<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675699533615-94r1mus2hj0j08a3aup2rrfv3rhr8mdi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675699533615-94r1mus2hj0j08a3aup2rrfv3rhr8mdi</string>
	<key>API_KEY</key>
	<string>AIzaSyB0twMOT14ueIPFyqgNQMrxrVHjYvNxrC8</string>
	<key>GCM_SENDER_ID</key>
	<string>675699533615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.owllet</string>
	<key>PROJECT_ID</key>
	<string>owllet-1a544</string>
	<key>STORAGE_BUCKET</key>
	<string>owllet-1a544.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675699533615:ios:29e7f42c35221dcb84a3da</string>
</dict>
</plist>